.fild-card-inner{
    position: relative;
}

.fild-card-front,
.fild-card-back{
    position: absolute;
}

.fild-card-front,
.fild-card-back,
.fild-card-inner{
    width:100%;
    height:100%;
}

.fild-card{
    width:300px;
    height:300px;
}

.fild-card-front{
    background: lightskyblue;
    color:black;
}
.fild-card-back{
    background: darkseagreen;
    transform: rotateY(180deg);
    color:black;
}

.fild-card-inner:hover{
    transform:rotateY(180deg);
}

.fild-card-inner{
    transition:transform 0.5s;
    transform-style:preserve-3d ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-item img{
    width: 100%;
    height: 93vh;
}