*{
    /*
    margin:0;
    padding:0;
    border:10px solid cadetblue;
     */

    box-sizing:border-box;

}

img{
    height:100px;
    width:100px;
}

.img-start{
    border: 5px solid cadetblue;
}